header[data-v-39f226] {
  background-color: antiquewhite;
  padding: 10px;
}
header ul[data-v-39f226] {
  list-style: none;
  overflow: hidden;
}
header ul li[data-v-39f226] {
  float: left;
  margin: 10px;
  cursor: pointer;
  transition: color 0.2s;
}
header ul li[data-v-39f226]:hover {
  color: yellowgreen;
}
#app[data-v-0b911d] {
  height: 100%;
  display: flex;
  flex-direction: column;
}
main[data-v-0b911d] {
  max-width: var(--max-width);
  margin: 0 auto;
  border: 1px solid yellowgreen;
  flex-grow: 1;
  width: 80%;
  padding: 40px;
}
main .slide-fade-enter-active[data-v-0b911d] {
  transition: all 0.2s ease;
}
main .slide-fade-leave-active[data-v-0b911d] {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}
main .slide-fade-enter[data-v-0b911d],
main .slide-fade-leave-to[data-v-0b911d] {
  transform: translateX(16px);
  opacity: 0;
}
