@import './base.css';
@import './tailwind.css';

#app {
  min-height: 100vh;
  max-width: 1000px;
  min-width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

#app .router-link-active {
  font-weight: bold;
}

/* transition */
#app .fade-enter-active,
#app .fade-leave-active {
  transition: opacity 0.2s ease;
}

#app .fade-enter-from,
#app .fade-leave-to {
  opacity: 0;
}

#app .slide-enter-active,
#app .slide-leave-active {
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
}

#app .slide-enter-from,
#app .slide-leave-to {
  transform: translateX(24px);
  opacity: 0;
}

/* a link style */

a {
  color: var(--link-color);
  position: relative;
}

a:hover {
  text-decoration: none;
}

@media (any-hover: hover) {
  a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -2px;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--link-underline-color);
    transition:
      width 0.25s ease 0s,
      left 0.25s ease 0s;
    width: 0;
  }

  a:hover:after {
    width: 100%;
    left: 0;
  }

  a:hover {
    color: var(--link-color-hover);
  }
}

a.no-underline:after {
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  a:after {
    transition: none;
  }
}

iconify-icon {
  min-width: 1em;
  min-height: 1em;
}
