@import './base.css';
@import './tailwind.css';
@import './balloon.css';

#app {
  min-height: 100vh;
  max-width: 1000px;
  min-width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

#app .router-link-active {
  font-weight: bold;
}

/* transition */
#app .fade-enter-active,
#app .fade-leave-active {
  transition: opacity 0.2s ease;
}

#app .fade-enter-from,
#app .fade-leave-to {
  opacity: 0;
}

#app .slide-enter-active,
#app .slide-leave-active {
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
}

#app .slide-enter-from,
#app .slide-leave-to {
  transform: translateX(24px);
  opacity: 0;
}

[data-balloon-pos] {
  cursor: pointer;
  z-index: 9;
}
