:root{
  --theme-color: yellowgreen;
  --font-color: #555;
  --max-width: 900px;
}

body, html {
  padding: 0;
  margin: 0;
  color: var(--font-color);
  height: 100%;
}
img {
  display: inline-block;
  object-fit: contain;
}
.router-link-exact-active {
  color: var(--theme-color);
}
