/* global */
body {
  margin: 0;
  min-height: 100vh;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  background-color: snow;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --theme-color: rgb(1, 113, 165);
  --theme-color2: rgb(0, 71, 104);
  --text-color: #2c3e50;
}
#app {
  color: var(--text-color);
  max-width: 800px;
  min-width: 300px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 30px 18px;
}

/* responsive */
@media screen and (max-width: 1000px) {
  #app {
    margin: 0 100px;
  }
}
@media screen and (max-width: 750px) {
  #app {
    margin: 0 50px;
  }
}
@media screen and (max-width: 560px) {
  #app {
    margin: 0 auto;
  }
}

.router-link-active {
  font-weight: bold;
}
a {
  text-decoration: none;
  color: var(--theme-color);
}
a:hover {
  color: var(--theme-color2);
}

/* transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.3s ease, opacity .3s ease;
}

.slide-enter-from,
.slide-leave-to {
  transform: translateX(24px);
  opacity: 0;
}
